

body{
  background-color: bisque;
  text-align: center;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  
}
h1{
  margin:0;
  margin-bottom: .5rem;
}
.input {
  border: 1px solid black;
  border-radius:.3rem;
  padding: .25rem;
  width: 7em;

}
select{
  margin-left: .5rem;
}
.era{
  font-weight: bold;
  font-size: 2rem;
}